################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0/ref/Zoo.dll
/obj/Debug/net6.0/Zoo.pdb
/obj/Debug/net6.0/Zoo.genruntimeconfig.cache
/obj/Debug/net6.0/Zoo.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/Zoo.dll
/obj/Debug/net6.0/Zoo.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/Zoo.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/Zoo.csproj.AssemblyReference.cache
/obj/Debug/net6.0/Zoo.assets.cache
/obj/Debug/net6.0/apphost.exe
/obj/Release/net6.0
/bin/Debug/net6.0/Zoo.pdb
/bin/Debug/net6.0/Zoo.exe
/bin/Debug/net6.0/Zoo.dll
/obj/Debug/net6.0/refint/Zoo.dll
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Zoo.csproj.nuget.dgspec.json
/obj/Zoo.csproj.nuget.g.props
/.vs/ProjectEvaluation
/.vs/Zoo/DesignTimeBuild
/.vs/Zoo/FileContentIndex
/.vs/Zoo/v17/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
